Source: xmpp-share-server
Section: net
Priority: optional
Maintainer: Jeremy Lainé <jeremy.laine@bolloretelecom.eu>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), cmake, pkg-config, libqdjango-dev, libqt4-dev, libqxmpp-dev

Package: xmpp-share-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-sqlite
Description: XMPP chat and file sharing server
 xmpp-share-server is an XMPP chat server which also provides support for
 file sharing.

Package: xmpp-share-server-dbg
Architecture: any
Depends: xmpp-share-server (= ${binary:Version}), ${misc:Depends}
Description: XMPP chat and file sharing server - debugging symbols
 xmpp-share-server is an XMPP chat server which also provides support for
 file sharing.
 .
 This package contains the debugging symbols for xmpp-share-server.

Package: xmpp-share-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-sqlite
Description: XMPP file sharing client
 xmpp-share-client is an XMPP chat client for sharing files.

